/* 왼쪽 사이드바 */
.messenger-panel.sidebar {
    position: fixed;
    right: -350px;
}

.messenger-panel.open.sidebar {
    position: fixed;
    right: 350px;
    z-index: 1000;
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 55px;
    height: 100%;
    background-color: #f4f4f4;
    top: 0;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease;
    overflow: hidden;
}

.messenger-panel.open.sidebar button {
    margin-top: 20px;
    background-color: transparent;
    width: 80px;
    height: 40px;
    border: none;
    margin-bottom: 20px;
    font-size: 25px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.messenger-panel.open.sidebar button.btn1 {
    margin-top: 25px;
}

.messenger-panel.open.sidebar button:hover {
    color: #007CC1;
}

/* 메신저 슬라이드 패널 */
.messenger-panel {
    position: fixed;
    top: 0;
    right: -350px;
    width: 350px;
    height: 100%;
    background-color: #fff;
    transition: right 0.3s ease;
    z-index: 1000;
}

.messenger-panel.open {
    right: 0;
}

/* 패널이 열릴 때 오른쪽으로 이동 */
.messenger-header {
    height: 54px;
    display: flex;
    align-items: center;
    padding: 3px 30px 8px 30px;
    background-color: #ffffff;
    color: #000;
    position: relative;
    font-size: 25px;
    margin-top: 20px;
}

.messenger-header .messenger-close {
    position: absolute;
    right: 20px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-size: 25px;
}

/* 검색창 */
.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    padding: 0 20px;
}

.search-input-container {
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
    border-radius: 20px;
    padding: 5px 10px;
    width: 100%;
    height: 35px;
}

.search-input-container .search-icon {
    font-size: 20px;
    color: #999;
    margin-right: 10px;
    margin-left: 5px;
}

.search-input-container input {
    border: none;
    margin-left: 5px;
    background-color: transparent;
    outline: none;
    font-size: 15px;
    color: #333;
    width: 100%;
}

/* 유저 프로필*/
.messenger-user {
    padding: 10px;
    margin-left: 15px;
    display: flex;
    align-items: center;
}

.messenger-user img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    float: left;
    margin-top: 5px;
}

.info {
    margin-left: 5px;
}

.messenger-user .info {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
}

.info-wrapper {
    display: flex;
    align-items: center;
}

.messenger-user .user-name {
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    width: 100%;
}

/* 상태변경*/
.profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.profile.status {
    display: flex;
    align-items: center;
    height: 30px;
}

.status-select-wrapper {
    display: flex;
    align-items: center;
    height: 40px;
    margin-left: auto;
}

.Select__control {
    min-height: 40px;
    height: 40px;
}

.custom-option {
    display: flex;
    align-items: center;
    color: black !important;
    padding: 3px !important;
    margin-left: 2px !important;
}

.css-1hqnu8h {
    padding: 2px 0px 2px 23px !important;
    overflow: visible !important;
}

.css-1xc3v61-indicatorContainer {
    padding: 2px !important;
}

.single-value {
    display: flex;
    align-items: center;
    color: black;
}

.messenger-user .status-message {
    margin-top: 5px;
    font-size: 16px;
    width: 200px;
    word-wrap: break-word;
    color: black;
}

/* 메신저 조직도*/
.messenger-content {
    padding: 23px 30px;
    overflow-y: auto;
    height: calc(100% - 120px);
    color: black;
    font-size: 16px;
}

.rc-tree-treenode {
    padding: 2px 0;
}

.rc-tree-title {
    margin-left: 5px;
    display: flex;
    line-height: 1.5;
    align-items: center;
}

.rc-tree-title span {
    margin-top: 2px;
}

.parent-icon {
    font-size: 20px;
}